@import "mixin";

/* =============================================
サイズ基準
============================================= */
:root {
  margin: 1px;
  padding: 1px;
  font-size: 1px;
  gap: 1px;
  @include pc {
    // 画面幅1280pxを基準として可変
    margin: calc(100vw / 1280);
    padding: calc(100vw / 1280);
    font-size: calc(100vw / 1280);
    gap: calc(100vw / 1280);
  }
  @include tab {
    // 画面幅768pxを基準として可変
    margin: calc(100vw / 768);
    padding: calc(100vw / 768);
    font-size: calc(100vw / 768);
    gap: calc(100vw / 768);
  }
  @include sp {
    // 画面幅440pxを基準として可変
    margin: calc(100vw / 440);
    padding: calc(100vw / 440);
    font-size: calc(100vw / 440);
    gap: calc(100vw / 440);
  }
}
html,body{
  width: 100%;
  margin: 0!important;
  padding: 0!important;
  overflow-x: hidden;
}

/* =============================================
フォント種類
============================================= */
$ryumin-regular: "A-OTF-RyuminPr6-Regular", serif;
$ryumin-medium: "A-OTF-RyuminPr6-Medium", serif;
$Didot: "Didot", serif;
$bunkyu: "AP-OTF-BunkyuMdMinStd-EB", serif;
$gothic: "Hiragino Kaku Gothic ProN",
    "Helvetica Neue",
    Arial,
    "Hiragino Sans",
    Meiryo,
    sans-serif;

/* =============================================
全体に対して
============================================= */
html {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}
body {
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-feature-settings: "palt" 1;
  font-weight: 400;
  font-style: normal;
  font-size: 30rem;
  font-family: $ryumin-regular;
  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

/* =============================================
htmlタグに対して
============================================= */
a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: #888;
  }
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}

/* =============================================
各所共通で使う用
============================================= */
.container {
  max-width: 1200px;
  margin: 0 auto;
  @include center;
  @include pc {
    padding: 0 40rem;
  }
  @include tab {
    width: 90%;
    padding: 0;
  }
}
.hidden{
  display: none!important;
}
.sectionTitle{
  margin-bottom: 40rem;
  padding: 8rem 0;
  background-color: #fff;
  outline: 4px solid #000;
  outline-offset: -5rem;
  text-align: center;
  @include sp {
    margin-bottom: 24rem;
    outline: 2px solid #000;
    outline-offset: -4rem;
  }
  span{
    color: #000;
    font-family: $ryumin-medium;
    font-weight: 500;
    font-size: 81rem;
    @include tab {
      font-size: 55rem;
    }
    @include sp {
      font-size: 30rem;
    }
  }
}

/* =============================================
レスポンシブ対応用
============================================= */
.pc {
  display: block !important;
  @include tab {
    display: none !important;
  }
}
.tab {
  display: none !important;
  @include tab {
    display: block !important;
  }
}
.tab-inline {
  display: none !important;
  @include tab {
    display: inline !important;
  }
}
.sp {
  display: none !important;
  @include sp {
    display: block !important;
  }
}
.sp-inline {
  display: none !important;
  @include sp {
    display: inline !important;
  }
}
.noTab{
  @include tab {
    display: none!important;
  }
}

/* =============================================
フレックス要素用
============================================= */
.flex {
  @include flex;
}

.flex-low {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  @include flex-center;
}

.flex-around {
  @include flex-around;
}

/* =============================================
固定表示用
============================================= */
.fixed {
  position: fixed !important; 
  width: 100%;
  z-index: 9999;
  top: 0;
  transition: top 0.3s ease-in-out;
}
.hidden {
  opacity: 0; /* 非表示状態 */
}

/* =============================================
ボタンで表示・非表示JSで値操作
============================================= */
[data-display="hide"] {
  display: none;
}

[data-display="show"] {
  display: block;
}
