@font-face {
  font-family: "A-OTF-RyuminPr6-Regular";
  src: url("../font/A-OTF-RyuminPr6-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "A-OTF-RyuminPr6-Medium";
  src: url("../font/A-OTF-RyuminPr6-Medium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "A-OTF-RyuminPr6-Medium";
  src: url("../font/AP-OTF-BunkyuMdMinStd-EB.otf") format("opentype");
  font-weight: 800;
}