.about {
  &__bg {
    height: 941px;
    width: 100%;
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    @include pc {
      height: calc(941vw / (1200 / 100));
    }
    @include tab {
      height: calc(1300vw / (768 / 100));
      background-position: 20% 50%;
    }
    .container {
      position: relative;
      z-index: 0;
    }
    &-2 {
      background-color: $purple;
    }
  }
  &__text1 {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 68px;
    right: 10px;
    color: $blue;
    font-size: 46px;
    @include pc {
      font-size: calc(46vw / (1200 / 100));
    }
    @include tab {
      top: calc(47vw / (768 / 100));
      right: calc(595vw / (768 / 100));
      font-size: calc(48vw / (768 / 100));
    }
    color: #fff;
    img {
      width: 100%;
      @include sp {
        width: calc(114vw / (440 / 100));
      }
      @include tab {
        width: calc(80vw / (440 / 100));
      }
    }
  }

  &__img {
    img {
      position: absolute;
      top: 77px;
      left: 390px;
      width: 609px;
      @include pc {
        top: calc(77vw / (1200 / 100));
        left: calc(390vw / (1200 / 100));
        width: calc(609vw / (1200 / 100));
      }
      @include tab {
        top: calc(475vw / (768 / 100));
        left: calc(155vw / (768 / 100));
        width: calc(570vw / (768 / 100));
      }
    }
  }
  &__desc {
    color: #fff;
    padding: 40px 0 74px;
    @include tab {
      padding: calc(48vw / (768 / 100)) 0 0;
    }
    &-text {
      font-size: 46px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: -0.3rem;
      @include pc {
        font-size: calc(46vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(57vw / (768 / 100));
        letter-spacing: calc(5vw / (768 / 100));
        &::after {
          content: "※地域によっては3日でも全額支給！";
          display: block;
          width: 100%;
          font-size: calc(29vw / (768 / 100));
          letter-spacing: 0;
          padding-top: calc(20vw / (768 / 100));
        }
      }
    }
    &-wifi {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 70px;
      padding: 73px 0 62px;
      @include pc {
        gap: calc(20vw / (1200 / 100));
        padding: calc(73vw / (1200 / 100)) 0 calc(62vw / (1200 / 100));
      }
      @include tab {
        flex-direction: column;
        gap: calc(20vw / (768 / 100));
        padding: calc(31vw / (768 / 100)) 0 calc(24vw / (768 / 100));
        margin-left: calc(((100vw - 100%) / 2) * -1);
        margin-right: calc(((100vw - 100%) / 2) * -1);
      }
      img {
        width: 606px;
        @include pc {
          width: calc(606vw / (1200 / 100));
        }
        @include tab {
          width: 100%;
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        letter-spacing: -0.23em;
        @include pc {
          letter-spacing: -0.23em;
        }
        @include tab {
          justify-content: center;
          margin: 0 auto;
          gap: calc(5vw / (768 / 100));
          letter-spacing: 0;
          text-align: center;
        }
        p {
          font-weight: bold;
          &:first-child {
            font-size: 54px;
            @include pc {
              font-size: calc(54vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(62vw / (768 / 100));
            }
          }
          &:nth-child(2) {
            font-size: 30px;
            @include pc {
              font-size: calc(30vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(30vw / (768 / 100));
              line-height: 1.4;
            }
          }
          &:nth-child(3) {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: -0.02em;
            @include pc {
              font-size: calc(20vw / (1200 / 100));
            }
            @include tab {
              margin: calc(11vw / (768 / 100)) 5.2% 0;
              padding: calc(10vw / (768 / 100));
              background-color: #fff;
              color: $purple;
              border-radius: calc(10vw / (768 / 100));
              font-size: calc(28vw / (768 / 100));
              line-height: 1.4;
              font-weight: bold;
            }
          }
        }
      }
    }
    &-point {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @include pc {
        gap: calc(50vw / (1200 / 100));
      }
      @include tab {
        padding-top: calc(47vw / (768 / 100));
        padding-bottom: calc(38vw / (768 / 100));
        gap: calc(45vw / (768 / 100));
        justify-content: center;
        width: 104%;
        margin: 0 auto;
        background: #7b7a92;

        margin-left: calc((100vw - 100%) / 2 * -1);
        margin-right: calc((100vw - 100%) / 2 * -1);
      }
      &-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include tab {
          margin: 0 auto;
          width: calc(688vw / (768 / 100));
          gap: calc(10vw / (768 / 100));
        }
        &-title {
          font-size: 35px;
          font-weight: bold;
          @include pc {
            gap: calc(20vw / (1200 / 100));
            font-size: calc(35vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(38vw / (768 / 100));
          }
        }
        p {
          font-size: 20px;
          font-weight: normal;
          letter-spacing: -0.02em;
          line-height: 1.4;
          @include pc {
            font-size: calc(20vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(28vw / (768 / 100));
            line-height: 1.3;
            letter-spacing: calc(1.5vw / (768 / 100));
          }
        }
      }
    }
  }
}
