.header {
  background-color: $pink;
  padding: 5px 0 10px;

  &__logo {
    width: 348px;
    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    letter-spacing: 0.05em;
    p {
      font-size: 14px;
    }
    &__tel {
      a {
        font-size: 37px;
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
  }
  &__nav {
    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      font-size: 19px;
    }
  }
}
