.access {
  &__store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 120px 0;
    gap: 60px 50px;
    font-family: "小塚ゴシック Pr6N", "Noto Sans JP", sans-serif;
    border: 1px solid $pink;
    font-weight: normal;
    @include pc {
      padding: calc(50vw / (1200 / 100)) 0 calc(120vw / (1200 / 100)) 0;
      gap: calc(60vw / (1200 / 100)) calc(50vw / (1200 / 100));
    }
    @include tab {
      border: none;
      padding: calc(50vw / (768 / 100)) calc(60vw / (768 / 100))
        calc(120vw / (768 / 100));
    }

    &-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: 20px;
        @include pc {
          font-size: calc(20vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(28vw / (768 / 100));
        }
      }
      p {
        font-size: 18px;
        line-height: 1.8;
        @include pc {
          font-size: calc(18vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(28vw / (768 / 100));
        }
      }
      &-tel {
        font-size: 22px;
        @include pc {
          font-size: calc(22vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(73vw / (768 / 100));
        }
        font-family: serif;
        span {
          font-size: 35px;
          @include pc {
            font-size: calc(35vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(43vw / (768 / 100));
          }
        }
      }
    }

    &-map {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        font-size: 20px;
        @include pc {
          font-size: calc(20vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(30vw / (768 / 100));
        }
      }
      p {
        font-size: 14px;
        line-height: 1.5;
        @include pc {
          font-size: calc(14vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(28vw / (768 / 100));
        }
      }
      .map-img {
        width: 520px;
        height: 380px;
        @include pc {
          width: calc(520vw / (1200 / 100));
          height: calc(380vw / (1200 / 100));
        }
        @include tab {
          width: calc(600vw / (768 / 100));
          height: calc(450vw / (768 / 100));
        }
      }
    }
  }
}
