.footer {
  padding: 120px 0 30px;
  @include pc {
    padding: calc(120vw / (1200 / 100)) 0 calc(30vw / (1200 / 100));
  }
  &__info {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    @include pc {
      gap: calc(20vw / (1200 / 100));
    }
    &-tel {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-size: 22px;
      @include pc {
        font-size: calc(22vw / (1200 / 100));
      }
      a {
        span {
          font-size: 35px;
          @include pc {
            font-size: calc(35vw / (1200 / 100));
          }
        }
      }
    }
  }
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    &__wrap {
      padding: 38px 16px 27px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include pc {
        padding: calc(38vw / (1200 / 100)) calc(16vw / (1200 / 100))
          calc(27vw / (1200 / 100));
      }
    }
  }
  &__nav {
    &__logo {
      img {
        width: 518px;
        @include pc {
          width: calc(518vw / (1200 / 100));
        }
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      font-size: 14px;
      letter-spacing: 0.1em;
      color: #fff;
      @include pc {
        font-size: calc(14vw / (1200 / 100));
      }

      a {
        &:hover {
          color: #d8d8d8;
        }
      }
    }
  }
  &__recruit {
    background-color: #323232;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    @include pc {
      padding: calc(10vw / (1200 / 100)) 0;
      font-size: calc(16vw / (1200 / 100));
    }
  }
}
