.girl {
  &__list {
    padding-bottom: 100px;
    border: 1px solid $pink;
    padding: 0 120px;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0 60px;
    color: $pink;

    a {
      text-decoration: none;
      color: gray;
      margin: 0 5px;
      &.active {
        color: $pink;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .inactive {
      color: gray;
    }
    span {
      margin: 0 10px;
      font-weight: bold;
    }
  }
}

.cast {
  &__box {
    &__list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 14px 10.5px;
    }
  }
}
.girlCard {
  &:last-of-type {
    display: none;
  }
  &-frame {
    position: relative;
    text-align: center;

    &-flex {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      padding-top: 50px;
    }
    img {
      position: relative;
      z-index: 1;
      width: 216px;
      height: 285px;
    }
    .girlCard-info {
      position: relative;
      &-box {
        position: relative;
        z-index: 3;
        margin-top: -1px;
        padding: 4px 0 6px;
        width: 216px;
        @include pc {
          margin-top: calc(-1vw / (1200 / 100));
          margin-bottom: calc(8vw / (1200 / 100));
          padding: calc(4vw / (1200 / 100)) 0 calc(6vw / (1200 / 100));
          width: calc(250vw / (1200 / 100));
        }
        @include tab {
          margin-bottom: calc(12vw / (768 / 100));
          padding: calc(4vw / (768 / 100)) 0 calc(8vw / (768 / 100));
          width: calc(310vw / (768 / 100));
        }
        .mark {
          position: absolute;
          top: -61px;
          right: 10px;
          width: 50px;
          height: 25px;
        }
      }
      &-store {
        position: absolute;
        z-index: 4;
        top: 0;
        right: 0;
        padding: 4px;
        width: 130px;
        background: #f267a9;
        color: #fff;
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.05em;
        @include pc {
          padding: calc(4vw / (1200 / 100));
          width: calc(130vw / (1200 / 100));
          font-size: calc(22vw / (1200 / 100));
        }
        @include tab {
          padding: calc(4vw / (768 / 100));
          width: calc(150vw / (768 / 100));
          font-size: calc(26vw / (768 / 100));
        }

        &-time {
          margin-top: -1px;
          padding: 8px 0 6px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          width: 216px;
          background: #b1b1ef;
          color: #fff;
          text-align: center;
          font-size: 18px;
          font-style: normal;
          overflow-x: hidden;
          font-weight: 600;
          @include pc {
            margin-top: calc(-1vw / (1200 / 100));
            padding: calc(8vw / (1200 / 100)) 0 calc(6vw / (1200 / 100)) 0;
            gap: calc(4vw / (1200 / 100));
            width: calc(250vw / (1200 / 100));
            font-size: calc(18vw / (1200 / 100));
          }
          @include tab {
            margin-top: calc(-1vw / (768 / 100));
            padding: calc(8vw / (768 / 100)) 0 calc(6vw / (768 / 100)) 0;
            gap: calc(5vw / (768 / 100));
            width: calc(310vw / (768 / 100));
            font-size: calc(22vw / (768 / 100));
          }
          img {
            width: 16px;
            height: 16px;
            @include pc {
              width: calc(16vw / (1200 / 100));
              height: calc(16vw / (1200 / 100));
            }
            @include tab {
              width: calc(16vw / (768 / 100));
              height: calc(16vw / (768 / 100));
            }
          }
        }
      }

      &-name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding-top: 8px;
        margin-bottom: 6px;
        font-size: 20px;

        @include tab {
          gap: calc(14vw / (768 / 100));
          padding-top: calc(14vw / (768 / 100));
          margin-bottom: calc(16vw / (768 / 100));
          font-size: calc(30vw / (768 / 100));
        }
        p {
          font-size: 20px;
          @include tab {
            font-size: calc(26vw / (768 / 100));
          }
        }
      }
      &-size {
        font-size: 15px;
      }
    }
    .girlCard-time {
      padding-bottom: 10px;
      font-size: 20px;
      letter-spacing: 0.1em;
      color: $pink;
    }
    .girlCard-type {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      color: #ffff00;
      font-family: "小塚ゴシック", sans-serif;

      p {
        padding: 5px 0;
        width: 105px;
        font-size: 14px;
        background: $pink;
      }
      .orange {
        background: #ff6161;
      }
      .light-green {
        background: #95db71;
      }
      .light-yellow {
        background: #ffe088;
      }
      .yellow {
        background: #f9c85a;
      }
      .purple {
        background: #9e61ff;
      }
      .light-pink {
        background: #f6a6ff;
      }
      .pink {
        background: #ff619a;
      }
      .green {
        background: #5ae567;
      }
      .light-purple {
        background: #db85ff;
        font-size: 20px;
        @include pc {
          font-size: calc(20vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(20vw / (768 / 100));
          height: calc(37vw / (768 / 100));
        }
      }
      .blue {
        background: #888eff;
        font-size: 20px;
        @include pc {
          font-size: calc(20vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(20vw / (768 / 100));
          height: calc(37vw / (768 / 100));
        }
      }
    }
  }
}
.showMoreButton {
  margin-top: calc(-20vw / (768 / 100));
  font-size: calc(22vw / (768 / 100));
  border-bottom: 1px solid #0000009a;
}
