.header {
  background-color: #000;
  &__top {
    padding: 6px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pc {
      padding: calc(6vw / (1200 / 100)) calc(16vw / (1200 / 100)) 0;
    }
    h1 {
      letter-spacing: 2.8px;
      font-size: 14px;
      color: #fff;
      @include pc {
        font-size: calc(14vw / (1200 / 100));
      }
      @include tab {
        display: none;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 38px 16px 27px;
    @include pc {
      padding: calc(38vw / (1200 / 100)) calc(16vw / (1200 / 100))
        calc(27vw / (1200 / 100));
    }
    @include tab {
      justify-content: center;
      padding: calc(38vw / (768 / 100)) calc(16vw / (768 / 100))
        calc(27vw / (768 / 100));
    }
    &-logo {
      img {
        width: 518px;
        @include pc {
          width: calc(518vw / (1200 / 100));
        }
        @include tab {
          width: calc(718vw / (768 / 100));
        }
      }
    }
    &-tel {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      font-size: 22px;
      @include pc {
        font-size: calc(22vw / (1200 / 100));
        gap: calc(10vw / (1200 / 100));
      }
      @include tab {
        display: none;
      }
      a {
        span {
          @include pc {
            font-size: calc(35vw / (1200 / 100));
          }
        }
      }
    }
  }

  &__nav {
    background-color: #232323;
    &__list {
      display: flex;
      justify-content: space-between;
      background: $yellow;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &-link {
        padding: 11px;
        width: 100%;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(
          0deg,
          rgba(255, 180, 0, 0.4) 45.34%,
          rgba(255, 230, 0, 0.4) 100%
        );
        border-image-slice: 1;
        a {
          &:hover {
            opacity: 1;
          }
        }
        &.active,
        &:hover {
          border-bottom: 2px solid transparent;
          border-image: linear-gradient(
            0deg,
            rgba(255, 180, 0, 1) 45.34%,
            rgba(255, 230, 0, 1) 100%
          );
          border-image-slice: 1;
        }

        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 16px;
          @include pc {
            font-size: calc(16vw / (1200 / 100));
          }
          span {
            font-size: 12px;
            @include pc {
              font-size: calc(12vw / (1200 / 100));
            }
          }
        }
      }
    }
  }
  /********************************************
* ハンバーガーメニュー
********************************************/
  &__tabNav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $pink;
    color: #fff;
    transition: 0.6s all ease-out;
    z-index: 90;
    overflow: hidden;

    &__close {
      position: absolute;
      top: calc(50vw / (768 / 100));
      right: calc(50vw / (768 / 100));
      z-index: 999;
      span {
        position: absolute;
        top: 0;
        right: calc(7vw / (768 / 100));
        width: calc(80vw / (768 / 100));
        height: calc(10vw / (768 / 100));
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(70vw / (768 / 100));
          height: calc(8vw / (768 / 100));
          background-color: #fff;
          border-radius: 4px;
          transform: translate(-50%, -50%);
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    &__list {
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      justify-content: center;
      gap: 4%;
      top: 6%;
      left: 50%;
      width: 100%;
      height: 100%;
      padding: calc(50vw / (768 / 100)) 0;
      transform: translate(-50%);

      &-link {
        font-size: calc(26vw / (768 / 100));
        font-weight: bolder;
        text-align: center;
        line-height: 1.4;
      }
    }
    &-active {
      left: 0 !important;
    }
  }

  &__tabButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    span {
      font-size: calc(23vw / (768 / 100));
    }

    &-nav {
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: calc(70vw / (768 / 100)) 0;
        width: 100%;
        height: calc(100vw / (768 / 100));
        gap: calc(15vw / (768 / 100));

        &:first-child {
          img {
            width: calc(51vw / (768 / 100));
          }
          background-color: #141414;
        }
        &:nth-child(2) {
          img {
            width: calc(61vw / (768 / 100));
          }
          background-color: #323232;
        }
        &:nth-child(3) {
          img {
            width: calc(73vw / (768 / 100));
          }
          background-color: #505050;
        }
        span {
          font-size: calc(26vw / (768 / 100));
        }
      }
    }
  }
}
#fixedElement {
  position: relative; /* 初期状態 */
}
.fixed-bottom {
  z-index: 9999;
  position: fixed !important;
  width: 100%; /* 画面幅いっぱいに広げる */
  @include tab {
    bottom: calc(16vw / (768 / 100));
    transition: bottom 0.3s ease-in-out; /* トランジションを追加 */
  }
}

.login {
  :hover {
    opacity: 0.8;
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.8);
  display: none;
  z-index: 9999;
  @include tab {
    width: 100%;
    height: 100%;
  }
  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background-color: #000;
    @include tab {
      width: 80%;
      height: 80%;
    }
    @include sp {
      width: 90%;
      height: 50%;
    }
    h3 {
      padding-left: 55px;
      position: relative;
      color: $pink;
      font-size: 28px;
      letter-spacing: 0.1em;
      @include tab {
        font-size: calc(28vw / (768 / 100));
        padding-left: calc(55vw / (768 / 100));
      }
      @include sp {
        font-size: calc(28vw / (440 / 100));
      }
      &::before {
        content: "";
        display: inline-block;
        background-image: url(../img/login-icon.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 48px;
        background-size: 45px 48px;
        position: absolute;
        top: -15px;
        left: 0;
        @include tab {
          top: calc(-15vw / (768 / 100));
          width: calc(45vw / (768 / 100));
          height: calc(48vw / (768 / 100));
          background-size: calc(45vw / (768 / 100)) calc(48vw / (768 / 100));
        }
        @include sp {
          top: calc(0vw / (440 / 100));
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 250px;
      @include tab {
        width: calc(250vw / (768 / 100));
        gap: calc(10vw / (768 / 100));
      }
      @include sp {
        width: 80%;
      }
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        @include tab {
          padding: calc(10vw / (768 / 100));
        }
      }
    }
    &__link {
      display: inline-flex;
      flex-direction: column;
      gap: 20px;

      p {
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        @include tab {
          font-size: calc(14vw / (768 / 100));
        }
        @include sp {
          font-size: calc(14vw / (440 / 100));
        }
      }
    }
  }
}
