.home{
  position: relative;
  z-index: 1;
  padding-top: 120rem;
  @include tab {
    padding-top: 40rem;
  }
  @include sp {
    padding-top: 20rem;
  }
  .homeBg{
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img{
      width: 100%;
    }
  }
  &__title{
    display: inline-block;
    margin-bottom: 40rem;
    background-color: #000;
    padding: 4rem 20rem 16rem;
    transform: skew(-12deg);
    box-shadow: 8rem 8rem 0 0 #333;
    @include tab {
      margin-bottom: 20rem;
      margin-left: 8rem;
      padding: 4rem 16rem 12rem;
    }
    @include sp {
      margin-bottom: 10rem;
      padding: 0rem 8rem 12rem;
      box-shadow: 6rem 6rem 0 0 #333;
    }
    &--text{
      display: inline-block;
      padding-bottom: 2rem;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-family: $ryumin-regular;
      font-size: 74rem;
      @include tab {
        font-size: 41rem;
      }
      @include sp {
        font-size: 20rem;
      }
    }
  }
  &__msg01{
    color: #000;
    @include tab {
      line-height: 1.2;
    }
    @include sp {
      line-height: 1;
    }
    .t-normal{
      font-size: 33rem;
      @include tab {
        font-size: 29rem;
      }
      @include sp {
        font-size: 18rem;
      }
    }
    .t-bigger{
      font-size: 39rem;
      @include tab {
        font-size: 34rem;
      }
      @include sp {
        font-size: 24rem;
      }
    }
  }
  &__msg02{
    margin-bottom: 20rem;
    color: #000;
    @include tab {
      margin-bottom: 10rem;
    }
    .t-normal{
      font-size: 33rem;
      @include tab {
        font-size: 29rem;
      }
      @include sp {
        font-size: 20rem;
      }
    }
    .t-bigger{
      font-family: $bunkyu;
      font-size: 56rem;
      font-weight: 800;
      @include tab {
        font-size: 49rem;
      }
      @include sp {
        font-size: 32rem;
      }
    }
  }
  &__copy{
    position: relative;
    width: clamp( 500px, 75vw, 866px );
    @include tab {
      width: 90%;
    }
    &--main{
      margin-bottom: 20rem;
    }
    &--sub{
      position: absolute;
      width: clamp( 160px, 22vw, 270px );
      top: 0;
      right: 0;
      transform: translate( 50%,-50% );
      @include tab {
        right: 2vw;
        width: 30%;
      }
    }
    &--light{
      position: absolute;
      width: 14vw;
      height:14vw;
      object-fit: contain;
      top: 0;
      right: 0;
      transform: translate( 100%, -70% );
      mix-blend-mode: screen;
      @include tab {
        top: -4vw;
        right: 2vw;
        width: 30%;
      }
    }
  }
  &__salary{
    width: clamp( 400px, 52vw, 639px );
    margin-bottom: 64rem;
    background-color: #000;
    border: 1px solid #fff;
    @include tab {
      width: 72%;
      margin-bottom: 32rem;
    }
    &--list{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 8rem;
      padding: 8rem;
      @include tab {
        padding: 4rem;
      }
      &:nth-child(1){
        border-bottom: 1px solid #fff;
      }
      .t-white{
        display: inline-flex;
        align-items: end;
        justify-content: center;
        color: #fff;
        font-size: 41rem;
        @include tab {
          font-size: 30rem;
        }
        @include sp {
          font-size: 18rem;
        }
      }
      .t-gold{
        display: inline-flex;
        align-items: end;
        color: $gold;
        .t-bigger{
          font-size: 55rem;
          line-height: 1;
          @include tab {
            font-size: 40rem;
          }
          @include sp {
            font-size: 22rem;
          }
        }
        .t-normal{
          font-size: 41rem;
          @include tab {
            font-size: 30rem;
          }
          @include sp {
            font-size: 18rem;
          }
        }
      }
    }
  }
  &__feature{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20rem 18rem;
    margin-bottom: 40rem;
    padding: 0 8rem;
    @include tab {
      grid-gap: 12rem;
    }
    @include sp {
      grid-gap: 6rem;
    }
    &--list{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      padding: 10rem 20rem;
      transform: skew(-15deg);
      border: 1px solid #fff;
      @include tab {
        padding: 8rem 16rem;
      }
      @include sp {
        padding: 4rem 4rem;
      }
      .featureText{
        display: inline-block;
        color: #fff;
        transform: skew(15deg);
        font-family: $ryumin-regular;
        font-size: 50rem;
        white-space: nowrap;
        @include tab {
          font-size: 28rem;
        }
        @include sp {
          font-size: 16rem;
        }
      }
    }
  }
  &__msg{
    &--top{
      width: clamp(  400px, 66vw, 796px );
      padding: 24rem 20rem;
      border:1px solid #fff;
      position: relative;
      @include tab {
        width: 100%;
        margin-bottom: 32rem;
        text-align: center;
      }
      &::after{
        position: absolute;
        content: "";
        border: 1px solid #fff;
        top: 2rem;
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
        z-index: -1;
      }
      .t-gold{
        margin-bottom: 8rem;
        color: $gold;
        font-size: 56rem;
        @include tab {
          font-size: 40rem;
        }
        @include sp {
          font-size: 24rem;
        }
      }
      .t-white{
        font-size: 30rem;
        line-height: 1.2;
        @include tab {
          font-size: 27rem;
        }
        @include sp {
          font-size: 16rem;
        }
      }
    }
    &--bottom{
      width: clamp(  300px, 75vw, 540px );
      padding: 24rem 20rem;
      background-color: #fff;
      color: #4d4d4d;
      font-size: 27rem;
      text-align: center;
      border:1px solid #000;
      position: relative;
      transform: translate( 110%, -20% );
      @include tab {
        width: 100%;
        transform: translate( 0, 0 );
        font-size: 30rem;
      }
      @include sp {
        font-size: 18rem;
      }
      &::after{
        position: absolute;
        content: "";
        border: 1px solid #000;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        z-index: -1;
        @include tab {
          border: none;
          border-top: 1.6px solid #000;
          border-bottom: 1.6px solid #000;
          top: 4rem;
          bottom: 4rem;
          left: 0rem;
          right: 0rem;
        }
      }
      p{
        &:nth-child(1){
          margin-bottom: 4rem;
        }
      }
      .t-bunkyu{
        font-family: $bunkyu;
        font-size: 68rem;
        font-weight: 800;
        @include tab {
          font-size: 72rem;
        }
        @include sp {
          font-size: 36rem;
        }
      }
      ul{
        margin-bottom: 16rem;
        li{
          display: block;
          font-style: italic;
          line-height: calc( 38 / 27 );
        }
      }
    }
  }
}