.interview{
  background-color: #fff;
  color: #000;
  font-family: $ryumin-medium;
  font-weight: 500;
  .interviewContainer{
    position: relative;
    padding-top: 40rem;
    padding-bottom: 40rem;
    padding-left: 40rem;
    @include tab {
      padding-top: 20rem;
      padding-bottom: 20rem;
      padding-left: 0;
    }
    .interviewBg{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translate( 50%, 0 );
      @include tab {
        width: 46vw;
        height: calc( 46vw * 249 / 349 );
        right: -5vw;
        top: 50%;
        transform: translate( 0, -100% );
      }
      img{
        height: 100%;
      }
    }
  }
  .interviewResponsive{
    display: flex;
    flex-direction: column;
    @include tab {

    }
  }
  &__title{
    font-size: 80rem;
    @include tab {
      font-size: 55rem;
    }
    @include sp {
      font-size: 30rem;
    }
  }
  &__staff{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8rem;
    margin-bottom: 48rem;
    @include tab {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 16rem;
    }
    &--name{
      font-size: 50rem;
      @include tab {
        font-size: 38rem;
      }
      @include sp {
        font-size: 22rem;
      }
      span{
        font-size: 70rem;
        @include tab {
          font-size: 55rem;
        }
        @include sp {
          font-size: 30rem;
        }
      }
    }
    &--info{
      background-color: $dustyBlue;
      color: #fff;
      font-family: $gothic;
      font-size: 38rem;
      @include tab {
        font-size: 33rem;
      }
      @include sp {
        font-size: 20rem;
      }
      &.firstContent{
        padding: 4rem 6rem 4rem 12rem;
        @include tab {
          padding: 4rem 6rem 4rem 6rem;
        }
      }
      &.lastContent{
        padding: 4rem 12rem 4rem 6rem;
        @include tab {
          padding: 4rem 6rem 4rem 6rem;
        }
      }
    }
  }
  &__text01{
    margin-bottom: 24rem;
    font-size: 55rem;
    line-height: calc( 60 / 45 );
    @include tab {
      margin-bottom: 16rem;
      font-size: 45rem;
    }
    @include sp {
      font-size: 26rem;
    }
  }
  &__text02{
    padding-bottom: 16rem;
    font-size: 30rem;
    line-height: calc( 38 / 25 );
    @include tab {
      font-size: 25rem;
    }
    @include sp {
      font-size: 15rem;
    }
  }
}